<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Final Project">
    <listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
    </listeners>

    <test name="Regression Suit #1">
        <classes>
            <class name="FinalProject"/>
        </classes>
    </test>
</suite>